body {
    margin: 0;
    font-family: sans-serif;
}


/* header */
header {
    width: 100%;
    padding: 10px;
    background-color: rgba(0,0,0,0.2);
}
header h1 {
    text-align: center;
   margin-top: 0px;
   color: rgba(0,0,0,0.6);
}
header p{
    color: rgba(0,0,0,0.5);
}

#buttons {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
}

#buttons a {
    text-decoration: none;
    font-size: large;
}

/* Form */

#form {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}

label{
    color: rgba(0,0,0,0.7);
}

#superhero-name {
    font-size: 1rem;
    padding: 2px;
    width: 80vw;
    outline: none;
}

button {
    background-color: blue;
    color: white;
    border: none;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
}

/* Favorite page */
.favorite {
    width: 90vw;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    display: none;
}

.favorite .superman-items{
    margin: 6px 6px;
}

/* Home Page  */

#superman-container {
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.superman-items {
    margin: 10px 0px;
    height: 400px;
    width: 300px;
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0 0 5px black;
}
.superman-items img {
    height: 300px;
    width: 300px;
}

.superman-items h2 {
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    color: rgba(0,0,0,0.7);
}
.fa-trash {
    float: right;
    margin-right: 10px;
}
.fa-thumbs-up {
    margin-left: 10px;
}
.superman-items i {
    cursor: pointer;
    font-size: large;
    color: cadetblue;
}

/* superman page */

#superman-page {
    width: 100%;
    height: 100%;
    display: none;
}

#close-page {
    background-color: black;
    text-align: right;
    color: white;
    cursor: pointer;
}

#title {
    height: 20px;
    width: 100%;
    color: red;
    text-align: center;
}

#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90vw;
    margin: 50px auto;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    margin-bottom: 0px;
}

#superman-image{
    width: 40vw;
    height: 40vw;
}
#superman-image img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#superman-info {
    width:40vw;
    font-size: 1.5rem;
}

#superman-info p {
    padding-left: 20px;
}

.temp {
    height: 200px;
    width: 200;
    background-color: red;
}

/* media Query for different screen size */
@media screen and (max-width:769px) {
    #superman-image{
        height: 50vw;
        width: 50vw;
    }
    #superman-info {
        width:35vw;
        font-size: 1.1rem;
    }
}

@media screen and (max-width:450px) {
    #superman-image{
        height: 100vw;
        width: 100vw;
    }
    #superman-info {
        width:100vw;
        font-size: 1rem;
    }
}